body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
  margin: 1% auto;
  max-width: 950px;
}
@media screen and (max-width: 900px) {
  #root {
    width: 90%;
  }
  ul#menu {
    display: flex;
    flex-wrap: wrap;
  }
  .header-app-wraper {
    padding: 5%;
  }
}
@media screen and (max-width: 680px) {
  .header-app-left h1 {
    margin: 0;
  }
  ul#menu {
    padding-left: 10%;
  }
}
.header-app-wraper {
  height: 180px;
  border-style: ridge;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & .header-app-left {
    display: flex;
    align-items: center;
    & span {
      margin-left: 20px;
      & a {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  &.header-app-wraper nav {
    display: flex;
  }
}

ul#menu li {
  display: inline;
  font-weight: bold;
  margin: 10px;
  & a {
    cursor: pointer;
    text-decoration: none;
  }
  & a.active {
    color: gold;
  }
}
.content-footer {
  background-image: url("https://ak7.picdn.net/shutterstock/videos/14803987/thumb/6.jpg");
  background-size: cover;
  // background-position: bottom;
}

//Checkbox Theme Switcher
.switcherTheme {
  height: 90%;
  & input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  & label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  & label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
  }
  & label:active:after {
    width: 30px;
  }
}

.switcherTheme input:checked + label {
  background: #007bff;
}

.switcherTheme input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

//ToDo App
.task {
  width: 100%;
  color: #3b5998;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  &.task li {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.task li:hover {
    background: #04395e3d;
    cursor: pointer;
  }
}
.task-input {
  display: flex;
  & button {
    margin-left: 10px;
  }
}

.todo-container h1 {
  height: 60px;
  color: rgba(8, 35, 109, 0.884);
  display: flex;
  align-items: center;
}

.list-group {
  width: 100%;
}

.lineTh {
  text-decoration: line-through;
}

//Slider

.slider {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  & img {
    width: 250px;
    height: 250px;
  }
  & button {
    margin: 10px;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
}

.sliderDots {
  display: flex;
  justify-content: center;

  & .slider-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
  }
  & button:hover {
    background-color: gold;
  }
}
