body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  margin: 3% auto;
  width: 950px;

  & .App-header {
    width: 100%;
    color: white;
    background: rgba(8, 35, 109, 0.884);
  }
}

//ToDo App
.task {
  width: 100%;
  color: rgba(8, 35, 109, 0.884);
  display: flex;
  justify-content: space-between;

  &.task p {
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
  }
  &.task:hover {
    background: #04395e3d;
  }

  &.task-done {
    background-color: #00000027;
  }
}

.action-btn p {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.action-btn:hover {
  background-color: #04395e3d;
  border-radius: 5px;
}

h1 {
  height: 60px;
  display: flex;
  align-items: center;
}

.task-control {
  width: 92%;
}
button {
  color: white;
  background-color: rgba(8, 35, 109, 0.884);
}

.lineTh {
  text-decoration: line-through;
}

//Slider

.slider {
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 250px;
    height: 250px;
  }
  & button {
    margin: 10px;
  }
}

.sliderDots {
  display: flex;
  justify-content: center;

  & .slider-dot {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    margin: 5px;
  }
}
